.root {
  border: none;
  min-height: 24px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.root:hover {
  opacity: 0.5;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}