.root {
  border: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: transparent;
  line-height: 24px;
  color: var(--primaryBlue)
}

.root:hover {
  opacity: 0.7;
}

.variantAdd {
  border: 2px solid var(--primaryBlue)
}

.variantDelete {
  border: none;
}

.variantSave {
  color: white;
  background-color: var(--primaryBlue);
}

.icon {
  margin-right: 10px;
  display: flex;
}