
.fieldset {
  border: none;
  margin-bottom: 15px;
}

.fieldsetChildren .fieldsetTitle {
  margin-bottom: 0;
}

.fieldsetList {
  list-style-type: none;
  padding-left: 16px;
}

.fieldsetListChildren {
  display: flex;
}

.fieldsetTitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.fieldsetItem:not(:last-child) {
  margin-bottom: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}

.labelText {
  font-size: 13px;
  line-height: 15px;
  color: var(--basicGray)
}

.row {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 20px;
}